// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
 .logo
 {
  border-radius: 50%;
  width: 115px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
 }

 .bouton
 {
  border-radius: 2px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  font-style: oblique;
  font-weight: bolder;
 }
 ion-title.titre.md.title-md.hydrated {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding: 15px;
  border-bottom: 1px solid;
  background: #FD8521;
  color: #fff;
  text-transform: upperc
}
div#container {
  margin-top: 241px;
}
span.succesmgs {
  display: block;
  padding: 25px;
  background: #45B83C;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
}
span.errormgs {
  display: block;
  text-align: center;
  background: #F76553;
  padding: 10px;
}
.nouveauPart {
  position: absolute;
  top: 170px;
  text-align: center;
  background: #FD8521;
  padding: 15px;
  margin-right: 15px;
  color: #fff;
  font-weight: 600;
}
.AjouterPart{
  position: absolute;
  top: 170px;
  text-align: center;
  background: #45B83C;
  padding: 15px;
  margin-right: 15px;
  color: #fff;
  font-weight: 600;
}
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  twitter:    #55acee,
  kokutana:   #FD8521
);
.ion-color-kokutana {
  --ion-color-base: var(--ion-color-kokutana, #FD8521) !important;
  --ion-color-shade: var(--ion-color-kokutana-shade, #FD8521) !important;
  --ion-color-tint: var(--ion-color-kokutana-tint, #FD8521) !important;
}