<ion-header>
  <ion-toolbar>
      <ion-title class="titre">
          #kok&#249;tana2019
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../assets/imgs/kokutana.png" id="logokokutana" class="logo">
  <div class="nouveauPart" *ngIf="nexistepas">
    <span> Participant non inscrit sur Eventbrite! Veuillez l'enregistrer</span>
  </div>
  <div class="ion-text-capitalize">
    <span class="AjouterPart" *ngIf="isAjouter">Nouveau participant ajoute avec succes</span>
      </div>
    <div id="container">
  <ion-list>
      <div class="email">
          <ion-item>
              <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
          </ion-item>
          <div *ngIf="nexistepas">
          <ion-item >
            <ion-input type="text" [(ngModel)]="prenom" placeholder="Prenom"></ion-input></ion-item>
            <ion-item >
            <ion-input type="text" [(ngModel)]="nom"  placeholder="Nom"></ion-input>
        </ion-item>
      </div>
          <span class="errormgs" *ngIf="isEmpty">Ce champ est obligatoire </span>
      </div>

  </ion-list>
</div>
  <ion-button  *ngIf="!nexistepas" expand="block" color="kokutana"(click)="onSubmitPresenceTrue()" id="buttonAjout">Confirmer<ion-spinner *ngIf="loader"  name="circles"></ion-spinner>
  </ion-button>
  <div *ngIf="nexistepas">
  <ion-button   expand="block" color="kokutana"(click)="addParticipant()" id="buttonAjout">Enregistrer<ion-spinner *ngIf="loader"  name="circles"></ion-spinner>
  </ion-button>
  <ion-button   expand="block" color="danger"(click)="Retour()" id="buttonAjout">Retour<ion-spinner *ngIf="loader"  name="circles"></ion-spinner>
  </ion-button>
</div>
  <span class="errormgs" *ngIf="pasInternet">Vérifier votre connexion</span>
  <div class="ion-text-capitalize">
  <span class="succesmgs" *ngIf="presenceConfirmer">{{prenom}} Merci de votre présence</span>
    </div>
 
</ion-content>